body {
    height: 100%;
    text-align: center;
}

.side-bar {
    /* Full-height: remove this if you want "auto" height */
    height: 100%;
    /* Set the width of the sidebar */
    width: max-content;
    /* Fixed Sidebar (stay in place on scroll) */
    position: fixed;
    /* Stay on top */
    z-index: 1;
    top: 0;
    left: 0;
    /* Disable horizontal scroll */
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #111;
}

.side-bar nav {
    padding: 10px 10px 20px 5px;
}

.side-bar a {
    padding: 6px 8px 6px 16px;
}

nav a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

nav a:hover {
    color: #f1f1f1;
    filter: brightness(180%);
}

.flashes {
    background-color: aquamarine;
    margin: 0;
    padding: 0.5em;
    border-radius: 0 0 14px 14px;
    list-style: none;
}

main {
    /* Left margin same as the width of the sidebar */
    /* This can't be set dynamically with pure CSS, so JS is used elsewhere */
    padding: 0px 10px;
    overflow: hidden;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: invert(100%) brightness(50%);
}

/* These rules are used for the accounts page */
.account-list {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 1em;
    margin: 1em auto;
    width: 75%;
}

.acc-wrapper {
    display: flex;
    flex-direction: column-reverse;
}

.acc-wrapper > button {
    width: 100%;
}

.account-card {
    /* padding: 1em; */
    min-width: min-content;
    text-decoration: none;
    color: #111;
    text-align: left;
    pointer-events: none;
}

.account-card article, form.account-card {

    border: solid 2px black;
    border-radius: 5px;
}

.clickable {
    pointer-events: initial;
}

.account-card h3 {
    text-align: center;
    background-color: #111;
    color: #818181;
    padding: 0.5em;
    margin: 0;
}

.account-card p {
    margin: 0.5em 1em;
}

a.account-card.clickable:hover article {
    background-color: #111;
    color: #818181;
}

a.account-card.clickable:hover h3 {
    background-color: #818181;
    color: #111;
}

form.account-card {
    pointer-events: initial;
}

.account-card input {
    width: 95%;
}

input {
    margin: 0.5em;
}

h3 input {
    margin: 0;
}

.label-align {
    display: flex;
    margin: 0 1em;
}

.hidden {
    display: none;
}

.label-align label {
    margin-top: 0.75em;
    width: max-content;
}

.label-align input {
    width: 100%;
    margin: 0.5em 1em;
}
.radio {
    margin: 0.25em;
}

.radio input {
    width: min-content;
}

.wide-forms {
    margin: 1em auto;
    max-width: 760px;
}

#audit_log {
  overflow-x: scroll;
}

#audit_log table {
  width: 100%;
  border-collapse: collapse;
  font-weight: normal;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 1em;
  text-align: left;
}

#audit_log th {
  padding: 8px;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

#audit_log td {
  padding: 8px;
  border: 1px solid #ccc;
}

#audit_log tr:nth-child(even) {
  background-color: #f2f2f2;
}


@media screen and (min-width: 1484px) {
    .account-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1056px) and (max-width: 1483px) {
    .account-list {
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (max-width: 600px) {
    body, .side-bar a {
        font-size: 10pt;
    }
    .side-bar {
        width: min-content;
    }
    .account-list {
        margin: 1em 0;
        width: 100%;
        overflow: scroll;
    }
}

@media screen and (max-width: 380px) {
    body, .side-bar a {
        font-size: 8pt;
    }
}
