{% extends "sidebar.html.jinja" %}
{% block title %}Account - {{ acc.name }}{% endblock %}
{% block content %}
<h2>Account - {{ acc.name }}</h2>
<p id="info">{{ info }}</p>
<p>ID: {{ acc.ident}}</p>
<p><strong>${{ acc.cash}}</strong></p>
<div id="account-actions">
    {% if is_banker %}
    <button id="withdraw">Do Withdraw</button>
    <button id="deposit">Do Deposit</button>
    <button id="transfer">Do Transfer</button>
    {% endif %}
</div>
<div id="account-forms" class="wide-forms">
    <form action="" method="post" id="withdraw-form" class="account-card hidden">
        <h3>Withdraw</h3>
        <div class="label-align">
            <label for="withdraw-amount">$</label><input type="number" id="withdraw-amount" name="withdraw-amount" autofocus required>
        </div>
        <input type="submit" value="Submit">
    </form>
    <form action="" method="post" id="deposit-form" class="account-card hidden">
        <h3>Deposit</h3>
        <div class="label-align">
            <label for="deposit-amount">$</label><input type="number" id="deposit-amount" name="deposit-amount" autofocus required>
        </div>
        <input type="submit" value="Submit">
    </form>
    <form action="" method="post" id="transfer-form" class="account-card hidden">
        <h3>Do Transfer</h3>
        <input type="hidden" name="account-1-id" value="{{ acc.ident }}">
        <div class="label-align">
            <label for="account-2-id">Target account ID:</label><input type="text" id="account-2-id" name="account-2-id" placeholder="Target ID" required><br>
        </div>
        <div class="label-align">
            <label for="transfer-amount">$</label><input type="number" id="transfer-amount" name="transfer-amount" autofocus required>
        </div>
        <div class="radio">
            <input type="radio" id="transfer-1-2" name="transfer-direction" value="primary" checked="checked" required>
            <label for="transfer-1-2">Transfer to</label>
        </div>
        <div class="radio">
            <input type="radio" id="transfer-2-1" name="transfer-direction" value="reverse" required>
            <label for="transfer-2-1">Transfer from</label>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/individual_account.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/update_event.js') }}"></script> -->
{% endblock %}
