{% extends "sidebar.html.jinja" %}
{% block title %}Account Not Found{% endblock %}
{% block content %}
<h2>Account Not Found</h2>
<p>Specified account ID does not exist. You may create it below:</p>
<form action="/accounts" method="post" id="make-new-acc" class="card-stylize wide-forms">
    <h3><input type="text" id="new-acc-name" name="new-acc-name" placeholder="Name for new account" autofocus required></h3>
    <div class="label-align">
        <label for="new-acc-id">ID:</label><input type="text" id="new-acc-id" name="new-acc-id" placeholder="ID for new account" value="{{ id }}" required><br>
    </div>
    <div class="label-align">
        <label for="new-acc-cash">$</label><input type="number" id="new-acc-cash" name="new-acc-cash" value="0" required>
    </div>
    <input type="hidden" id="account-redirect" name="account-redirect" value="{{ id }}">
    <input type="submit" value="Create">
</form>
{% endblock content %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/update_event.js') }}"></script>
{% endblock %}
