{% extends "sidebar.html.jinja" %}
{% block title %}Properties{% endblock %}
{% block content %}
<h2>Properties</h2>
<section class="account-list">
    {% for prop in property_list %}
    <a href="/properties/{{ make_url(prop.name) }}" class="card-stylize clickable {% if prop.mortgaged %}mortgaged{% endif %}">
        <article>
            <h3 {% if prop.color %}style="background-color:{{ prop.color }};color:{% if prop.color != 'darkblue' %}black{% else %}#ddd{% endif %}"{% endif %}>{{ prop.name }}</h3>
            {% if not prop.owner %}
                <p>Owner: Bank</p>
                <p>Property cost: ${{ prop.costs['property'] }}</p>
            {% else %}
                <p>Owner: {{ prop.owner }}</p>
                <p>Rent cost: ${{ prop.rent }}</p>
            {% endif %}
            {% for item, cost in prop.costs.items() if item != 'property' %}
                <p>{{ item.title() }}: ${{ cost }}</p>
            {% endfor %}
            <p>Rent tiers:</p>
            <ul>
            {% for tier, rate in prop.rent_rates.items() %}
                <li>{{ tier }}: ${{ rate }}</li>
            {% endfor %}
            </ol>
        </article>
    </a>
    {% endfor %}
</section>
{% endblock content %}
{% block scripts %}
{% endblock %}
