<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="normalize.css">
        <link rel="stylesheet" type="text/css" href="main.css">
        <title>Monopoly Banking System</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/"><img src="icons/home-2-line.svg">Home</a>
                <a href="/accounts"><img src="icons/bank-line.svg">Accounts</a>
                <a href="/transfer"><img src="icons/exchange-line.svg">Transfer</a>
                <a href="/change-cash"><img src="icons/wallet-3-line.svg">Change Cash</a>
                <a href="/properties"><img src="icons/community-line.svg">Properties</a>
                <a href="/ivestments"><img src="icons/funds-line.svg">Investments</a>
                <a href="/shop"><img src="icons/shopping-cart-fill.svg">For Sale</a>
                <a href="/help"><img src="icons/question-line.svg">Help</a>
            </nav>
        </header>
        <main>

        </main>
    </body>
</html>