<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        {% block stylesheets %}{% endblock %}
        <title>{% block title %}Placeholder Page{% endblock %} - Monopoly Banking System</title>
        {% endblock %}
    </head>
    <body>
            <div class="side-bar">
                <nav>
                    <a href="/"><img src="{{ url_for('static', filename='icons/home-2-line.svg') }}">Home</a>
                    <a href="/{{ urls['Accounts'] }}"><img src="{{ url_for('static', filename='icons/bank-line.svg') }}">{{ urls['Accounts'].title().replace('-', ' ') }}</a>
                    <a href="/{{ urls['Transfer'] }}"><img src="{{ url_for('static', filename='icons/exchange-line.svg') }}">{{ urls['Transfer'].title().replace('-', ' ') }}</a>
                    <a href="/{{ urls['Change Cash'] }}"><img src="{{ url_for('static', filename='icons/wallet-3-line.svg') }}">{{ urls['Change Cash'].title().replace('-', ' ') }}</a>
                    <a href="/{{ urls['Properties'] }}" class="hidden"><img src="{{ url_for('static', filename='icons/community-line.svg') }}">{{ urls['Properties'].title().replace('-', ' ') }}</a>
                    <a href="/{{ urls['Investments'] }}" class="hidden"><img src="{{ url_for('static', filename='icons/funds-line.svg') }}">{{ urls['Investments'].title().replace('-', ' ') }}</a>
                    <a href="/{{ urls['Auctions'] }}" class="hidden"><img src="{{ url_for('static', filename='icons/shopping-cart-fill.svg') }}">{{ urls['Auctions'].title().replace('-', ' ') }}</a>
                    <a href="/{{ urls['Help'] }}" class="hidden"><img src="{{ url_for('static', filename='icons/question-line.svg') }}">{{ urls['Help'].title().replace('-', ' ') }}</a>
                </nav>
            </div>
            <main>

            {% block messages %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% endblock %}

            <h1>Monopoly Bank</h1>

            {% block content %}
            <h2>Placeholder Page</h2>
            <p>Not yet implemented.</p>
            {% endblock %}

            </main>
        <footer>
        {% block footer %}
        {% endblock %}
        </footer>
        <script src="{{ url_for('static', filename='js/set-margin.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
