{% extends "sidebar.html.jinja" %}
{% block title %}Unauthorized Access{% endblock %}
{% block content %}
<h2>Unauthorized Access</h2>
<p>Only the banker is authorized to access this page.</p>
{% endblock content %}
{% block scripts %}
{% endblock %}
